# Ignore PhpStorm files
.idea/

# Files VSCODE
.vscode/

# Ignore composer vendor files
vendor

# Ignore node modules
node_modules

# Ignore tests
simpletest

# Ignore drupal core & modules contrib
web/.htaccess
web/autoload.php
web/index.php
web/robots.txt
web/core
web/modules/contrib
web/profiles/contrib
web/themes/contrib
web/libraries
web/sites/default/default.settings.php
web/sites/default/default.services.yml
web/sites/default/files
web/sites/**/settings.local.php
.editorconfig
.gitattributes

# Ignore custom modules (have personal Git repository).
web/modules/custom
